/*
    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;
    */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    html,
    body {
        font-family: 'Poppins', sans-serif;
        background: radial-gradient(84.37% 84.37% at 50% 50%, rgba(196, 196, 196, 0) 36.99%, rgba(196, 196, 196, 0.51) 100%);
        background-repeat: no-repeat;
        max-width: 100%;
    }
    
    body {
        color: #000000;
        overflow-x: hidden;
        text-align: center;
        font-size: 1rem;
        line-height: 2em;
    }

    .container {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .container-fluid {
        width: 100%;
    }

    .row ,
    .footer-col,
    .footer-col form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    h1, h2 {
        font-weight: bold;
    }

    h1 {
        font-size: 5.6em;
        line-height: 100px;
        letter-spacing: 5px;
        margin-bottom: 20px;
        text-transform: uppercase;        
    }

    h2 {
        font-size: 3.5em;
        line-height: 60px;
        text-transform: capitalize;
    }

    a {
        align-self: center;
        color: #FFF;
        text-decoration: none;
        transition: 0.3s;
    }

    p {
        margin-bottom: 0.9em;
    }

    /*Navbar*/
    .navbar {
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background-color: transparent;
        padding-bottom: 10px;
    }

    .main-nav {
        list-style-type: none;
        display: none;
    }

    .nav-links {
        color: #000000;
    }

    .main-nav li {
        text-align: center;
        margin: 15px auto;
    }

    .logo {
        display: inline-block;
        margin-top: 10px;
        margin-left: 20px;
    }

    .logo img {
        height: 55px;
    }

    .navbar-toggle {
        position: absolute;
        top: 30px;
        right: 20px;
        cursor: pointer;
        color: #ED1C24;
        font-size: 32px;
    }

    .active {
        display: block;
    }

    .col-half {
        width: 50%;
    }

    .red-text {
        color: #ED1C24;
    }

    .wrap {
        position: relative;
    }

    
    .scroll {
        position: absolute;
        top: 194px;
        left: -20px;
        cursor: pointer;
        cursor: all-scroll;
        opacity: 0.3;
    }
    .scroll:hover{
        opacity: 1;
        transition:  all 0.2s;
    }

    .scroll-text {
        transform-origin: top left;
        transform: rotate(270deg);
        letter-spacing: 0.355em;
        text-transform: uppercase;
        font-size: 8px;
        font-weight: 700;
        line-height: 12px;
        width: 194px;
        text-align: right;
        background-image: url("img/arrow_left.svg");
        background-repeat: no-repeat;
        background-position: 0 50%;
    }

    .hero , 
    .call-to-action{
        padding: 4.68em 0.9em;
    }

    .call-to-action {
        background: #FFF;
    }

    .call-to-action p ,
    .call-to-action a {
        text-transform: uppercase;
    }

    .call-to-action h2 {
        margin-bottom: 30px;
    }

    .call-to-action .button-red {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .subheading {
        font-size: 1.87em;
        letter-spacing: 0.359649px;
    }

    .lead p {
        font-size: 1.125em;
        line-height: 27px;
    }

    .lead span {
        display: block;
        font-weight: 700;
    }

    .macro  {
        position: relative;
        background: #FFF;
        padding: 4.68em 6.625em;
        text-align: left;
    }

    .macros-text div:nth-child(1) {
        font-family: 'Roboto', sans-serif;
    }

    .macros-text div:nth-child(2) {
        display: flex;
        align-items: flex-start;
        height: 50px;
        flex-wrap: wrap;
    }

    .macros-text div:nth-child(2) > div {
        margin-right: 15px;
    }

    .button-red {
        display: flex;
        background: #ED1C24;       
        justify-content: center; 
    }

    .apply {
        position: fixed;
        right: 85px;
        top: 452px;
        width: 5em;
        height: 5em;
        border-radius: 50%; 
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        text-transform: uppercase;
    }

    .arrow {
        width: 45px;
        height: 45px;
    }

    .arrow a {
        font-size: 2em;
    }

    .arrow a:hover {
        font-size: 2.5em;  
    }

    .macro-image {
        margin: 2em;
    }

    .macro-image img {
        width: 100%;
        max-width: 552px;
        height: auto;
    }

    .footer {
        background: #ED1C24;
        color: #FFF;
        font-size: 14px;
        line-height: 21px;
        padding: 100px 0;
        text-align: left;
    }

    .footer-col ,
    .footer-logo {
        margin-bottom: 40px;
    }

    .footer-col form {
        margin-left: auto;
    }

    .footer-col input {
        height: 57px;
    }

    .footer-col input {
        padding: 0 20px;
    }

    @media screen and (min-width: 768px) {
        /*navbar*/
        .navbar {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0;
            height: 70px;
            align-items: center;
        }

        .main-nav {
            display: flex;
            margin-right: 30px;
            flex-direction: row;
            justify-content: flex-end;
        }

        .main-nav li {
            margin: 0;
        }

        .nav-links {
            margin-left: 40px;
        }

        .logo {
            margin-top: 0;
        }

        .logo img {
            height: 60px;
            width: auto;
        }

        .navbar-toggle {
            display: none;
        }

        .nav-links:hover {
            color: #ED1C24;
        }

        .macro-image {
            margin-left: -140px;
        }

        .elipse{
            width: 585px;
            height: 585px;
            border-radius: 50%;
            position: absolute;
            top:10vw;
            right:-5vw;
            z-index: -1;      
            opacity: 0.3;
            background-image: radial-gradient(#231B3A 2px, transparent 2px),radial-gradient(#231B3A 2px, transparent 2px);
            background-position: 0 0, 7.5px 7.5px;
            background-size: 15px 15px;
        }

        .footer-col ,
        .footer-logo {
            margin-bottom: 80px;
        }
    }

    @media screen and (min-width: 992px) {
        .macro {
            margin-bottom: 140px;
        }

        .macro-image {
            margin-bottom: -140px;
        }

    }

    @media screen and (max-width: 991px) {
        h1 {
            font-size: 4em;
            line-height: 70px;
            letter-spacing: 4px;
        }

        h2 {
            font-size: 2em;
            line-height: 50px;
        }

        .navbar {
            font-size: 12px;
        }

        .nav-links {
            margin-left: 20px;
        }

        .hero {
            padding: 2em 0.9em;
        }

        .macro {
            padding: 2em 4em 6em;
        }

        .macro-image img {
            max-width: 400px;
        }
        .macros-text div:nth-child(1) {
            font-size: 0.9em;
        }
      }

    @media screen and (max-width: 767px) {
        body {
            line-height: 1.5em;
        }

        .row {
          flex-direction: column;
        }
        .col-half {
            width: 100%;
        }

        .container {
            width: 100%;
            padding: 10px;
        }

        h1 {
            font-size: 1.5em;
            line-height: 35px;
            letter-spacing: 3px;
        }

        span.nav-links {
            display: none;
        }
        .subheading {
            font-size: 1.2em;
            letter-spacing: 0.2px;
        }

        .macro {
            text-align: center;
        }
        .macro p {
            text-align: left;
        }  
        .scroll{
            display: none;
        }      
      }

     

      